<!DOCTYPE html>
<html>

<head>
	<title>Blockchain</title>
  <script src="js/jquery-2.2.4.min.js"></script>
	<style>
	h1 {
	  text-align: center;
	  background-color: #80ced6;
	  padding: 7px;
	}
	
	.button{
	  display:inline-block;
	  padding:3px 12px;
	  border-radius:12px;
	  font-family:"Times New Roman", Times, serif;
	  font-weight:bold;
	  font-size:14px;
	  color:#FFFFFF;
	  background-color:#00BFFF;
	  text-align:center;
	  cursor:pointer;
	}
	
	.query{
	  background-color:#00BFFF;
	}
	.query:hover{
	  background-color:#0093c4;
	}

	.events{
	  background-color:#7B68EE;
	}
	.events:hover{
	  background-color:#483D8B;
	}
	</style>
</head>

<body>
	<h1>ERROR OCCURED</h1>
        <div>
          <button type="button" id="getEvents" class="button events" >View All Events</button>
          <button type="button" id="newQuery" class="button anotherQuery" >Perform another query</button>
        </div>
    
</body>

<script src="js/web3.min.js"></script>
<script src="js/app.js"></script>
</html>