<!DOCTYPE html>
<html>

<head>
	<title>Blockchain</title>
	<script src="js/jquery-2.2.4.min.js"></script>
	<style>
	.center {
	  margin: auto;
	  width: 21%;
	  border: 10px solid #A9A9A9;
	  background-color:#F5F5F5;
	  padding: 10px;
	}
	
	.button{
	  display:inline-block;
	  padding:3px 12px;
	  border-radius:12px;
	  font-family:"Times New Roman", Times, serif;
	  font-weight:bold;
	  font-size:14px;
	  color:#FFFFFF;
	  background-color:#00BFFF;
	  text-align:center;
	  cursor:pointer;
	}
	
	.register{
	  background-color:#00BFFF;
	}
	.register:hover{
	  background-color:#0093c4;
	}

	.login{
	  background-color:#7B68EE;
	}
	.login:hover{
	  background-color:#483D8B;
	}
	</style>
</head>

<body>
    <div class="center">
      <form>
        <h4>Please register your ID number and login to proceed</h4>
        <div>
          <label for="userId">User ID: </label>
          <input type="text" id="userId" placeholder="Enter your ID number">
        </div>
		<br>
        <div>
          <div><button type="button" id="register" class="button register" >Register</button></div>
          <br>
          <div><button type="button" id="login" class="button login">Login</button></div>
        </div>
      </form>
      <div class="error message">
        <p style="color:red" id="message"></p>
      </div>
    </div>
</body>

<script src="js/web3.min.js"></script>
<script src="js/app.js"></script>

</html>